.card {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
}

.card + .card {
  margin-top: 24px;
}

.card:hover {
  background-color: #b2b09b;
  color: white;
  transform: scale(1.02);
}

.card h1 {
  margin: 0;
  font-size: 18px;
}

.card span {
  font-size: 14px;
}

.card span:nth-child(2) {
  margin-top: 10px;
}

.card span {
  padding: 8px 0;
}
